exportClasses(unMarkedFrame)
export(unMarkedFrame)
exportMethods(show)
export(siteCovs)
export(obsCovs)
exportClasses(unMarkedFit)
exportMethods(show)
useDynLib(unmarked)
export(markovMN)
export(Mh)
export(mnMix)
export(removalPiFun)
export(doublePiFun)
export(multinomPois)
export(occu)
export(occuRN)
export(pcount)
import(reshape)
import(roxygen)
export(csvToUMF)
export(formatMult)
export(formatLong)
export(formatWide)
export(imputeMissing)