# Methods needed from other packages
importFrom(stats, confint, fitted, coef, vcov, predict, update, profile, 
	simulate, residuals)
importFrom(graphics, plot, barplot)
importFrom(utils, head)
importFrom(reshape, melt, cast, recast)

# Fitting functions
export(occu, occuRN, pcount, multinomPois, distsamp, mnMix, colext, umHMM, Mh)
export(removalPiFun, doublePiFun)

# S4 classes
exportClasses(unmarkedFit, unmarkedFitOccu, unmarkedFitDS, unmarkedFitPCount,
	unmarkedFitMPois, unmarkedFrame, unmarkedFrameOccu, unmarkedFramePCount, 
	unmarkedFrameMPois, unmarkedFrameDS, unmarkedMultFrame, 
	unmarkedEstimate, unmarkedFitList, unmarkedModSel)

# Methods
exportMethods(backTransform, barplot, coef, confint, coordinates, fitted, 
	getData, getP, getY, head, hessian, linearComb, mle, modSel, nllFun, 
	numSites, numY, obsCovs, obsNum, "obsCovs<-", obsToY, "obsToY<-", parboot,
	plot, predict, profile, projection, powerAnalysis, residuals, sampleSize, 
	SE, show, simulate, siteCovs, "siteCovs<-", summary, update, vcov, 
	yearlySiteCovs, "yearlySiteCovs<-", "[")

# Constructors
export(unmarkedEstimate, fitList, mapInfo, unmarkedFrame, unmarkedFrameOccu,
	unmarkedFramePCount, unmarkedFrameMPois, unmarkedFrameDS, unmarkedMultFrame)

# Formatting
export(csvToUMF, formatLong, formatWide, formatMult, formatDistData)

# Misc
export(imputeMissing, gxhn, gxexp, gxhaz, grhn, grexp, grhaz, calcAreas)
useDynLib(unmarked)
