import(methods)
exportClasses(optionalDataFrame)
exportClasses(optionalMatrix)
exportClasses(optionalNumeric)
exportClasses(optionalCharacter)
exportMethods(SE)
importFrom(stats, confint, fitted, coef, vcov, predict, update, profile, simulate, residuals)
importFrom(graphics, plot, barplot)
exportMethods(confint)
exportMethods(linearComb)
exportMethods(backTransform)
exportMethods(hessian)
useDynLib(unmarked)
exportClasses(optionalMapInfo)
useDynLib(unmarked)
export(umHMM)
export(Mh)
export(mnMix)
export(removalPiFun)
export(doublePiFun)
export(multinomPois)
export(occu)
export(occuRN)
export(pcount)
exportClasses(unmarkedEstimate)
export(unmarkedEstimate)
exportClasses(unmarkedFitList)
export(fitList)
exportMethods(predict)
exportMethods(modSel)
exportClasses(unmarkedModSel)
exportMethods(modSel)
exportMethods(show)
exportClasses(unmarkedFit)
exportClasses(unmarkedFitDS)
exportClasses(unmarkedFitPCount)
exportClasses(unmarkedFitMPois)
exportClasses(unmarkedFitOccu)
exportMethods(summary)
exportMethods(predict)
exportMethods(coef)
exportMethods(vcov)
exportMethods(confint)
exportMethods(fitted)
exportMethods(fitted)
exportMethods(profile)
exportMethods(update)
exportMethods(sampleSize)
exportMethods(getData)
exportMethods(nllFun)
exportMethods(mle)
exportMethods(residuals)
exportMethods(getP)
exportMethods(getP)
exportMethods(getP)
exportMethods(simulate)
exportMethods(simulate)
exportMethods(simulate)
exportMethods(simulate)
exportMethods(parboot)
exportClasses(parboot)
exportMethods(parboot)
exportMethods(show)
exportMethods(plot)
exportClasses(unmarkedFrame)
exportClasses(unmarkedMultFrame)
exportClasses(unmarkedFrameDS)
exportClasses(unmarkedFrameOccu)
exportClasses(unmarkedFramePCount)
exportClasses(unmarkedFrameMPois)
export(unmarkedFrame)
export(unmarkedFrameDS)
export(unmarkedFrameOccu)
export(unmarkedMultFrame)
export(unmarkedFramePCount)
export(unmarkedFrameMPois)
exportMethods(show)
exportMethods(siteCovs)
exportMethods(yearlySiteCovs)
exportMethods(obsCovs)
exportMethods(obsNum)
exportMethods(numSites)
exportMethods(numY)
exportMethods(obsToY)
exportMethods("obsCovs<-")
exportMethods("siteCovs<-")
exportMethods("obsCovs<-")
exportMethods("yearlySiteCovs<-")
exportMethods("obsToY<-")
exportMethods(getY)
exportMethods(coordinates)
exportMethods(projection)
exportMethods(summary)
exportMethods(summary)
exportMethods(powerAnalysis)
exportMethods(plot)
exportMethods(barplot)
exportMethods("[")
exportMethods("[")
exportMethods("[")
exportMethods("[")
importFrom(utils, head)
exportMethods("head")
export(csvToUMF)
export(formatLong)
export(formatWide)
export(formatMult)
importFrom(reshape, melt, cast, recast)
export(imputeMissing)
export(colext)
export(distsamp)
export(gxhn)
export(gxexp)
export(gxhaz)
export(grhn)
export(grexp)
export(grhaz)
export(calcAreas)
export(formatDistData)
export(mapInfo)
